:root {
    --grey: invert(32%) sepia(0%) saturate(114%) hue-rotate(134deg) brightness(91%) contrast(84%);
    --light-blue: invert(80%) sepia(9%) saturate(559%) hue-rotate(139deg) brightness(97%) contrast(88%);
    --light-red: invert(53%) sepia(12%) saturate(1550%) hue-rotate(300deg) brightness(89%) contrast(89%);
    --light-purple: invert(49%) sepia(12%) saturate(1506%) hue-rotate(215deg) brightness(93%) contrast(85%);
    --brown-yellow: invert(94%) sepia(56%) saturate(6543%) hue-rotate(322deg) brightness(94%) contrast(84%);
}

.iconImage {
    width: 100px;
    height: 100px;
    filter: var(--grey);
}

body {background: #f6f6e0;}

header h1 {
    margin-block-start: 15px;
    margin-block-end: 15px;
    color: #ffc107;
}

header h2 {font-size: 1.2em;}

body {
    font-family: 'Poppins', 'Noto Sans JP', sans-serif;
    font-size: 19px;
    margin: 0;
}

body header {
    text-align: center;
}

body #story {
    width: 50px;
    height: 50px;   
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 20px auto;
    border: 4px solid #535353;
    border-radius: 10px;
    height: 350px;
}

main #player {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 4px solid #535353;
}

img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .4s;
}

body #story:hover {
    filter: var(--brown-yellow);
}

#player #sword:hover {
    filter: var(--light-blue) !important; 
}

#player #arts:hover {
    filter: var(--light-red) !important;
}

#player #spells:hover {
    filter: var(--light-purple) !important;
}

main #announcer {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#announcer #textOutput {
    text-align: justify;
}

#announcer #health {
    display: flex;
    align-self: normal;
    justify-content: space-evenly;
}

main #enemy {
    width: 15%;
    border-left: 4px solid #535353;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

footer #profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

footer #profileText {
    text-decoration: none;
    color: black;
}

footer #profileText:hover {
    color: hsla(350, 63%, 72%, 0.966);
    text-decoration: underline;
}

/* Pop-up story box*/
body #story.active,
main.active {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

body #popup {
    background: #f9f3e0;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .3);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: .5s;
}

#popup #close {
    position: absolute;
    transform: rotate(45deg);
    right: 25px;
    top: 0px;
    font-size: 45px;
    cursor: pointer;
}

#popup #popupTitle {
    margin-block: 0px auto;
}

#popup #popupContent {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    margin-block: 11px 32px;
}

#popup #playAgain {
    position: fixed;
    margin: 20px auto;
    width: 30%;
    right: 0;
    bottom: 0;
    left: 0;
    background: #111;
    color: #fff;
    padding: 5px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    visibility: hidden;
}

/* Weapons' description Box */
.newline {
    display: block;
    content: "";
    margin: 7px 0;
}

.weaponsHolder {
    position: relative;
}

.weaponsTitle {
    margin: 0;
    text-align: end;
}

.weaponsContent {
    margin-top: 7px;
    margin-bottom: 0;
}

.toolTip {
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    background: #fff;
    width: 298px;
    padding: 12px;
    box-sizing: content-box;
    transform: translate(-87%, -90px);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

#swordHolder .toolTip  {
    background: #c1f8ff;
}

#artsHolder .toolTip {
    background: #ffa7b7;
}

#spellsHolder .toolTip {
    background: #d3c3ff;
}

#player .weaponsHolder:hover .toolTip {
    opacity: 0.9;
    visibility: visible;
    transform: translate(-87%, -80px);
    transition-delay: 0.7s;
}

/* Enemy's description box */
main #enemy {
    position: relative;
}

.enemyToolTip {
    background: #cccccc;
    width: 222px;
    transform: translate(-49%, 55px);
}

#enemy #enemyHolder:hover .enemyToolTip {
    opacity: 0.9;
    visibility: visible;
    transform: translate(-49%, 58px);
    transition-delay: 0.7s;
}

/* Scrolls' credit box */
#placeHolder {
    display: flex;
    justify-content: center;
    z-index: -2;
}

.scrollsToolTip {
    background: #deb948;
    width: 325px;
    padding: 10px;
    transform:  translate(18%, -12px);
}

.scrollsToolTip::before {
    content: "";
    background: #deb948;
    position: absolute; 
    width: 13px;
    height: 13px;
    left: -6px;
    bottom: 14px;
    transform: rotate(45deg);
}

body .scrollsHolder {
    position: relative;
    width: 50px;
}

body .scrollsHolder:hover .scrollsToolTip {
    opacity: 1;
    visibility: visible;
    transform:  translate(22%, -12px);
    transition-delay: 0.7s;
}

/* MEDIA QUERIES*/
@media(max-width: 1535px) {
    .toolTip {
        transform: translate(5%, -90px);
    }

    .scrollsToolTip {
        transform:  translate(18%, -12px);
    }

    .enemyToolTip {
        transform: translate(-60%, 55px);
    }

    #enemy #enemyHolder:hover .enemyToolTip {
        transform: translate(-60%, 58px);
    }

    #player .weaponsHolder:hover .toolTip {
        transform: translate(5%, -80px);
    }
}

@media(max-width: 745px) {
    .iconImage {
        width: 50px;
        height: 50px;
    }

    body {
        font-size: 13px;
    }

    body #popup {
        width: 60vw;
    }

    #popup #playAgain {
        width: 40%;
    }

    .toolTip {
        transform: translate(5%, -45px);
        font-size: 12px;
    }

    .scrollsToolTip {
        transform:  translate(33%, -4px);
        width: 150px;
    }

    .scrollsToolTip::before {
        left: -6px;
        bottom: 23px;
    }

    body .scrollsHolder:hover .scrollsToolTip {
        transform:  translate(35%, -4px);
    }

    .enemyToolTip {
        transform: translate(-75%, 25px);
    }

    #enemy #enemyHolder:hover .enemyToolTip {
        transform: translate(-75%, 30px);
    }

    #player .weaponsHolder:hover .toolTip {
        transform: translate(5%, -40px);
    }
}